.samtalestøttepanel {

    border-radius: 0.25rem;
    margin-top: 1.5rem;
    padding: 0;
    width: 100%;
}

.samtalestøttepanel__ingress {
    padding-bottom: 1rem;
}


@media (min-width: 768px) {
    .samtalestøttepanel {
        padding: 0;
    }
}

@media print {
    .samtalestøttepanel__lenke {
        display: none;
    }
}


